<div *ngIf="(loadingCompanies$ | async)">
  <app-spinner message="Loading companies..."></app-spinner>
</div>
<div *ngIf="!(loadingCompanies$ | async)" class="table-responsive-sm">
  <table class="table table-hover my-4">
    <thead>
    <tr class="table-success">
      <th scope="col">Company Name
        <span (click)="onSort('nameAsc')"><i class="bi bi-caret-up-fill"></i></span>
        <span (click)="onSort('nameDsc')"><i class="bi bi-caret-down-fill"></i></span>
      </th>
      <th scope="col">Phone Number</th>
      <th scope="col">Street Address</th>
      <th scope="col">Hiring Manager(s)</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let company of companies" class="table-active" (click)="onEditCompany(company.id)">
      <th scope="row">{{ company.companyName }}</th>
      <td>{{ company.phoneNumber }}</td>
      <td>{{ company.streetAddress }}</td>
      <td>
        <span *ngFor="let hiringManager of company.hiringManagers; index as i">
          <a *ngIf="company.hiringManagers && i+1 < company.hiringManagers.length" class="link" (click)="onEditCandidate(hiringManager.id)" >{{hiringManager.fullName + ", "}}</a>
          <a *ngIf="company.hiringManagers && i+1 === company.hiringManagers.length" class="link" (click)="onEditCandidate(hiringManager.id)" >{{hiringManager.fullName}}</a>
        </span></td>
    </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-between">
    <div>
      <app-back-button></app-back-button>
      <button class="btn btn-success" [routerLink]="['/companies', 'new']">Add</button>
    </div>
    <div class="d-flex">
      <form id="searchForm" [formGroup]="searchForm" class="d-flex" (ngSubmit)="onSearch()">
        <input class="form-control me-2 my-1" type="search" placeholder="Search" formControlName="search">
        <button class="btn btn-success me-2 my-1" type="submit">Search</button>
      </form>
      <form id="pageSizeForm" [formGroup]="pageSizeForm" class="form-group me-2 items-select">
        <select class="form-select my-1" id="pageSizeSelect" formControlName="pageSize" (change)="onSelectPageSize($event)">
          <option [value]="pageSize.value" *ngFor="let pageSize of pageSizeOptions">
            {{ pageSize.name }}
          </option>
        </select>
      </form>
      <ng-container *ngIf="checkPagination(companyParams?.pageSize, companyParams?.count)">
        <button class="btn btn-sm btn-secondary me-2 my-1" type="button" (click)="onPreviousPage()" [disabled]="!checkPrevious(companyParams?.pageIndex)"><</button>
        <button class="btn btn-sm btn-light me-2 my-1" type="button" disabled>{{companyParams?.pageIndex ?? 1}}</button>
        <button class="btn btn-sm btn-secondary my-1" type="button" (click)="onNextPage()" [disabled]="!checkNext(companyParams?.pageIndex, companyParams?.pageSize, companyParams?.count)">></button>
      </ng-container>
    </div>
  </div>
</div>
