@import '../../variables';

.table-active {
  cursor: pointer;
}

.table-active:nth-child(odd){
  background: rgba(0,0,0,0.1);
}

.bi-caret-up-fill:hover, .bi-caret-down-fill:hover {
  color: $gray-300;
}

.items-select {
  min-width: toRem(120);
}
