<div class="row">
  <form [formGroup]="candidateForm" (ngSubmit)="onUpdateCandidate()" class="col-6 py-3">
    <div class="form-group py-1">
      <label for="InputFirstName" class="form-label">First Name: </label>
      <input id="InputFirstName" class="form-control" type="text" formControlName="firstName">
    </div>
    <div class="form-group py-1">
      <label for="InputLastName">Last Name: </label>
      <input id="InputLastName" class="form-control" type="text" formControlName="lastName">
    </div>
    <div class="form-group py-1">
      <label for="InputEmail">Email: </label>
      <input id="InputEmail" class="form-control" type="email" formControlName="email">
    </div>
    <div class="form-group py-1">
      <label for="InputPhoneNumber">Phone Number: </label>
      <input id="InputPhoneNumber" class="form-control" type="text" formControlName="phoneNumber">
    </div>
    <div class="form-group py-1">
      <label for="InputStreetAddress">Street Address: </label>
      <input id="InputStreetAddress" class="form-control" type="text" formControlName="streetAddress">
    </div>
    <div class="form-group py-1">
      <label for="InputPostCode">Post Code: </label>
      <input id="InputPostCode" class="form-control" type="text" formControlName="postCode">
    </div>
    <div class="form-group py-1">
      <label for="InputCounty">County: </label>
      <input id="InputCounty" class="form-control" type="text" formControlName="county">
    </div>
    <div class="form-group py-1">
      <label for="InputCountry">Country: </label>
      <input id="InputCountry" class="form-control" type="text" formControlName="country">
    </div>
    <div class="form-group py-1">
      <label for="companySelect" class="form-label">Company</label>
      <select class="form-select" id="companySelect" formControlName="companyId">>
        <option [value]=null>Select Company</option>
        <option [value]="company.value" *ngFor="let company of companySelectOptions">
          {{ company.name }}
        </option>
      </select>
    </div>
    <div class="my-3">
      <p *ngIf="candidateForm.dirty && !candidateForm.valid" class="text-danger">Please complete all form fields to add or update a candidate. </p>
      <button type="button" class="btn btn-secondary back-button me-2" (click)="onBack()"><</button>
      <button *ngIf="candidateId && candidateId != 'new' && candidateForm.valid" type="submit" class="btn btn-success me-2" [disabled]="!candidateForm.valid">Update Candidate</button>
      <button *ngIf="candidateId && candidateId === 'new'" type="submit" class="btn btn-success me-2" [disabled]="!candidateForm.valid">Add Candidate</button>
      <button *ngIf="candidateId && candidateId != 'new'" type="button" class="btn btn-danger me-2" (click)="onDeleteCandidate()">Delete Candidate</button>
    </div>
  </form>
</div>
