<div *ngIf="(loadingCandidates$ | async)">
  <app-spinner message="Loading candidates..."></app-spinner>
</div>
<div *ngIf="!(loadingCandidates$ | async)" class="table-responsive-sm">
  <p *ngIf="!(candidates.length > 0)" class="text-center my-3" >No candidates found <button class="btn btn-success ms-2 mb-1" (click)="onReload()">Reload</button></p>
  <table *ngIf="(candidates.length > 0)" class="table table-hover my-4">
    <thead>
    <tr class="table-success">
      <th scope="col" class="table-header">Name
          <span (click)="onSort('nameAsc')"><i class="bi bi-caret-up-fill"></i></span>
          <span (click)="onSort('nameDsc')"><i class="bi bi-caret-down-fill"></i></span>
      </th>
      <th scope="col" class="table-header d-flex align-items-end">
        Company
        <span (click)="onSort('companyNameAsc')"><i class="bi bi-caret-up-fill"></i></span>
        <span (click)="onSort('companyNameDsc')"><i class="bi bi-caret-down-fill"></i></span>
        <form id="searchForm" [formGroup]="searchForm" class="form-input">
          <input id="search" class="form-control" type="search" placeholder="Search" formControlName="search" (change)="onUpdateSearch($event)">
        </form>
      </th>
      <th scope="col" class="table-header">Contact Number</th>
      <th scope="col" class="table-header">Email Address</th>
      <th scope="col" class="table-header">Hiring Manager</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let candidate of candidates" class="table-active">
        <th scope="row" (click)="onEditCandidate(candidate.id)">{{candidate.fullName}}</th>
        <td (click)="onEditCandidate(candidate.id)">{{ candidate.companyName }}</td>
        <td (click)="onEditCandidate(candidate.id)">{{ candidate.phoneNumber }}</td>
        <td><a href="mailto:{{candidate.email}}" class="link">{{ candidate.email }}</a></td>
        <td>
          <div class="form-check">
            <form id="candidateForm{{candidate.id}}" [formGroup]="getCandidateForm(candidate.id)">
              <input id="isHiringInput{{candidate.id}}" class="form-check-input" type="checkbox" (click)="onToggleIsHiringManager(candidate.id, $event)" formControlName="isHiringManager">
            </form>
          </div>
        </td>
    </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-between">
    <div>
      <app-back-button></app-back-button>
      <button class="btn btn-success" [routerLink]="['/candidates', 'new']">Add</button>
    </div>
    <app-pagination [_paginationParams]="paginationParams" (updatedPaginationParams)="updatePaginationParams($event)"></app-pagination>
  </div>
</div>
