@import '../../variables';

.table-header input{
  margin: toRem(2);
  padding: toRem(5);
  font-size: toRem(12);
  height: toRem(24);
  max-width: toRem(60);
}

.table-active {
  cursor: pointer;
}

.table-active:nth-child(odd){
  background: rgba(0,0,0,0.1);
}

.bi-caret-up-fill:hover, .bi-caret-down-fill:hover {
  color: $gray-300;
}
